//Identidade Visual - Cores

$azul: #00447c;
$azul-escuro: #122d43;
$azul-claro: #4abdf4;
$vermelho: #c00000;
$cinza-escuro: #999999;
$cinza-azulado: #b6bbcc;
$cinza-claro: #fcfcfc;
$cinza-branco: #f0f0f0;
$branco: #fff;

//Fontes

$font-stack: Roboto, sans-serif;
$font-auxiliar: 'Roboto Condensed', sans-serif;
$cor-padrao: #333;

//Font-size
$regular: 1em;
$pequena: 0.5em;